<nav class="w-full bg-blue-600 text-white p-4 flex justify-between items-center">
    <div class="text-xl">Instituto<span class="font-bold">Tecnico</span></div>
    <ul class="flex space-x-4">
      <li><a href="/dashboard/home" class="hover:text-blue-300">Home</a></li>
      <li><a href="/dashboard/users" class="hover:text-blue-300">Users</a></li>
      <li><a href="/dashboard/cursos" class="hover:text-blue-300">Cursos</a></li>
      <li><a href="#" class="hover:text-blue-300">Profile</a></li>
    </ul>
  </nav>